{
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "useTabs": false,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "singleQuote": false,
  "jsxSingleQuote": false
}
